{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="icon"
            type="image/x-icon"
            href="https://res.cloudinary.com/deztgvefu/image/upload/v1706426486/template_images/cute-little-pink-cat-watercolor-png_2_kxmwtq.webp"
    />
    <title>Django Gems</title>
    <link rel="stylesheet" href="{% static 'reset/reset.css' %}"/>
    <link rel="stylesheet" href="{% static 'colors/colors.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'icons/icons.css' %}"/>
</head>
<body class="body">

<header class="header">
    <div class="logo-img-container">
        <img
                class="logo-img"
                src="https://res.cloudinary.com/deztgvefu/image/upload/v1707735843/template_images/Screenshot_2024-02-12_at_13.01.58_nm3xvv.png"
                alt="Logo Image"
        />
    </div>
    {% include 'base/partials/nav.html' %}
    {% include 'base/partials/icons.html' %}
</header>

<main class="main">
    {% block page_content %}
    {% endblock %}
</main>
<footer class="footer">
    <div>
        © 2024 Django Gems | Beatris Ilieve | beatrisilieve@icloud.com
    </div>
</footer>
</body>
</html>
