{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://res.cloudinary.com/deztgvefu/image/upload/v1706426486/template_images/cute-little-pink-cat-watercolor-png_2_kxmwtq.webp"
    />
    <title>Fine Jewelries</title>
    <link rel="stylesheet" href="{% static 'reset/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'colors/colors.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'icons/icons.css' %}" />
  </head>
  <body class="body">
<div class="relative-container">
        <header class="header">
      <div class="logo-img-container">
        <img
          class="logo"
          src="https://res.cloudinary.com/deztgvefu/image/upload/v1706426486/template_images/cute-little-pink-cat-watercolor-png_2_kxmwtq.webp"
          alt="Logo Image"
        />
      </div>
      <div class="logo-title-container">
        <h1 class="logo-title">Djang<span class="logo-span"><img class="logo-span-img" src="https://res.cloudinary.com/deztgvefu/image/upload/v1707499296/template_images/giphy_s_b3cfly_1_b0dwbo.gif" alt=""></span><br/>Gems</h1>
      </div>
      {% include 'base/partials/nav.html' %}
      {% include 'base/partials/icons.html' %}
    </header>
</div>
    <main class="main">
      {% block page_content %}
      {% endblock %}
    </main>
    <footer class="footer">
      <div>
        © 2024 Django Gems | Beatris Ilieve | beatrisilieve@icloud.com
      </div>
    </footer>
  </body>
</html>
