.jewelry-details-wrapper {
    display: flex;
    color: var(--dark-blue);
    padding: 24px 96px 24px 96px;
    justify-content: space-evenly;
}

.jewelry-details-image-first, .jewelry-details-image-second{
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*height: calc(66vh - 48px);*/
    width: calc(28vw - 48px);
    aspect-ratio: 1 / 1;
          overflow: hidden;
      position: relative;
}

/*.jewelry-details-image{*/
/*    height: 50%;*/
/*    width: 50%;*/
/*    aspect-ratio: 1 / 1;*/
/*}*/

.jewelry-details-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--white-pink);
    border-radius: 16px;
}

.jewelry-details-composition {
    /*height: calc(30% - 96px);*/
    width: calc(28vw - 96px);
    position: relative;
}




.zoom-image {
    transition: transform 0.3s ease;
}

.jewelry-details-image-first:hover .zoom-image {
    transform: scale(2.2);
}

.jewelry-details-image-second:hover .zoom-image {
    transform: scale(2.2);
}





/*.jewelry-details {*/
/*    color: var(--dark-blue);*/
/*    padding: 24px 96px 0px 96px;*/
/*}*/

/*.jewelry-details-image-container {*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*}*/

/*.jewelry-details-img {*/
/*    width: 43vh;*/
/*    height: 43vh;*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*}*/

/*.zoom-image {*/
/*    transition: transform 0.3s ease;*/
/*}*/

/*.thumbnail:hover .zoom-image {*/
/*    transform: scale(2.8);*/
/*}*/

/*.jewelry-details .row .materials {*/
/*    font-size: 22px;*/
/*    margin-bottom: 8px;*/
/*    margin-top: 8px;*/
/*}*/

/*.jewelry-details .row .materials-details {*/
/*    font-size: 18px;*/
/*}*/




/*.jewelry-details {*/
/*    color: var(--dark-blue);*/
/*    padding: 24px 96px 0px 96px;*/
/*}*/

/*.jewelry-details .row {*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*}*/

/*.jewelry-details .row .row-image-first {*/
/*    width: 43vh;*/
/*    height: 43vh;*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*}*/

/*.jewelry-details .row .row-image-second {*/
/*    width: 43vh;*/
/*    height: 43vh;*/
/*    overflow: hidden;*/
/*    position: relative;*/
/*}*/

/*.zoom-image {*/
/*    transition: transform 0.3s ease;*/
/*}*/

/*.thumbnail:hover .zoom-image {*/
/*    transform: scale(2.8);*/
/*}*/

/*.jewelry-details .row .materials {*/
/*    font-size: 22px;*/
/*    margin-bottom: 8px;*/
/*    margin-top: 8px;*/
/*}*/

/*.jewelry-details .row .materials-details {*/
/*    font-size: 18px;*/
/*}*/
