.logo-img-container {
    height: 22vh;
    width: 22vh;
    aspect-ratio: 1 / 1;
}

.logo-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo-title-container {
    display: flex;
    text-align: center;
    top: -4px;
    left: 154px;
    /*margin-top: -98px;*/
    /*margin-left: -26px;*/
    justify-content: center;
    align-items: center;
    position: absolute;
}

.logo-title {
    font-size: 22px;
    border-bottom-color: var(--dark-pink);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-style: ridge;
}

.logo-span-img img {
    display: inline-block;
    position: absolute;
    width: 4vh;
    height: 4vh;
    top: 14px;
}



