{% extends 'base/base.html' %}
{% load static %}
{% load countries %}
{% get_countries as countries %}
{% block page_content %}
    <section class="form-container-login-or-register">
        <div class="left-login-or-register-container">
            <form method="post" action="{% url 'register_user' %}">
                <h4 class="form-login-or-register-title">New Customer</h4>
                <ul role="list">
                    <li class="form-item">
                        {{ form.email }}
                    </li>
                    <li class="form-item">
                        {{ form.password1 }}
                    </li>
                    <li class="form-item">
                        {{ form.password2 }}
                    </li>
                    <li class="form-item">
                        {{ form.consent }} I agree to the terms and conditions
                    </li>
                </ul>
                <input type="hidden" value="{{ next }}" name="next"/>
                <button class="register-button button filled_green">Register</button>
                {% csrf_token %}
            </form>
        </div>
        <div class="right-login-or-register-container">
            <h4 class="form-login-or-register-title">Password Requirements:</h4>
            <form>
                <ul role="list">
                    <li class="form-item">
                        {{ form.password1.help_text }}
                    </li>
                </ul>
            </form>
        </div>
    </section>
    {% if form.errors.items %}
        {% include 'error-messages/error-messages.html' %}
    {% endif %}
{% endblock %}
