{% extends 'base/base.html' %} {% block page_content %}
    <section class="hero">
        <div class="hero-wrapper">
            <h3 class="hero-title">
                <i class="fa-solid fa-check" style="color: #ffb7ce;"></i> Your profile has been successfully deleted.
            </h3>
            <p class="hero-desc">
                We appreciate your time with us and hope to serve you again in the future. If you have any feedback,
                feel free to share. Thank you and farewell!
            </p>
        </div>
    </section>
{% endblock %}
