<div class="icon-container">
    <button class="btn">
        <form action="{% url 'search_bar' %}?page={{ page_obj.number }}">
            <input type="checkbox" id="search-toggle" class="search-toggle">
            <input class="search" name="search" value="{{ search }}">
            <label for="search-toggle" class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </label>
        </form>
    </button>
    {% if likes_count > 0 %}
        <button class="btn">
            <a href="{% url 'display_liked_jewelries' %}">
                <i class="fa-regular fa-heart"><span class="likes-count-nav">({{ likes_count }})</span></i>
            </a>
        </button>
    {% else %}
        <button class="btn">
            <a href="{% url 'display_liked_jewelries' %}">
                <i class="fa-regular fa-heart"></i>
            </a>
        </button>
    {% endif %}
    {% if cart_count > 0 %}
        <button class="btn">
            <a href="{% url 'view_shopping_cart' %}">
                <i class="fa-solid fa-basket-shopping"><span class="cart-count-nav">({{ cart_count }})</span></i>
            </a>
        </button>
    {% else %}
        <button class="btn">
            <a href="{% url 'view_shopping_cart' %}">
                <i class="fa-solid fa-basket-shopping"></i>
            </a>
        </button>
    {% endif %}
    {% if not request.user.is_authenticated %}
        <button class="btn">
            <a href="{% url 'login_or_register_user' %}">
                <i class="fa-regular fa-user"></i>
            </a>
        </button>
    {% else %}
        <button class="btn">
            <a href="{% url 'my_orders' pk=request.user.pk %}">
                <i class="fa-solid fa-clock-rotate-left"></i>
            </a>
        </button>
        <button class="btn dropdown" role="list" tabindex="0">
            <ul class="nav-item">
                <i class="fa-regular fa-user"></i>
            </ul>
            <li class="icon-dropdown dropdown-content">
                {#                <p style="color: black">{{ user.profile.full_name }}</p>#}
                {#                <p style="color: black">{{ request.user.profile.full_name }}</p>#}

                <div id="profile-item-drop-down-name">
                    {{ user.accountprofile.full_name }}
                </div>
                <div id="profile-item-drop-down-email">
                    {{ user.email }}
                </div>
                {#                <p style="color: black">{{ request.user.accountprofile.full_name }}</p>#}
                <a href="{% url 'update_user' pk=request.user.pk %}">
                    Update Profile
                </a>
                <a href="{% url 'update_email' pk=request.user.pk %}">
                    Change Email
                </a>
                <a href="{% url 'update_password' pk=request.user.pk %}">
                    Change Password
                </a>
                <a href="{% url 'delete_user' pk=request.user.pk %}">
                    <i class="fa-solid fa-user-slash"></i> Delete Profile
                </a>
            </li>
            {#            <li class="icon-dropdown dropdown-content">#}
            {#                <a href="{% url 'update_password' pk=request.user.pk %}">#}
            {#                    Change Password#}
            {#                </a>#}
            {#            </li>#}
        </button>
        <button class="btn">
            <a href="{% url 'logout_user' %}">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </a>
        </button>
    {% endif %}
</div>