{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    {% if not order_details %}

        <section class="hero">
            <div class="hero-wrapper">
                <h3 class="hero-title">
                    Start your shopping journey!
                </h3>
                <h4 class="hero-sub-title">
                    Make your first order today and discover amazing jewelries.
                </h4>
            </div>
            <div class="hero-img-container">
                <img
                        class="hero-img"
                        src="https://res.cloudinary.com/deztgvefu/image/upload/v1707674135/template_images/newshero19_candyny_gm6tqg.webp"
                        alt=""
                />
            </div>
        </section>
    {% else %}
        <div class="orders-history-container">
            <section class="orders-history-title">
                <h2>My orders</h2>
            </section>
            {% for order_pk, details in order_details.items %}
                <section class="orders-section">
                    <div class="order-title-content">
                        <h3 class="order-title">Order ID: {{ order_pk }}</h3>
                        <h3 class="order-title">Status: {{ details.status }}</h3>
                        <h3 class="order-title">Total Order Price: {{ details.total_order_price }}</h3>
                    </div>
                    <div class="order-wrapper">
                        {% for product in details.order_products %}
                            <div class="order-content">
                                <p>Price: {{ product.price }}</p>
                                <p>Quantity: {{ product.quantity }}</p>
                                <p>Total Price per Jewelry: {{ product.total_price }}</p>
                            </div>
                            <div class="order-content">
                                <p><img class="order-image" src="{{ product.jewelry.first_image_url }}" alt="image"></p>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
