{% extends 'base/base.html' %}
{% load static %}
{% block page_content %}
    <section class="jewelry-details-wrapper">
{#        <div class="jewelry-details-img-container">#}
            <div class="jewelry-details-image">
                <img class="jewelry-details-img zoom-image" src="{{ jewelry.first_image_url }}" alt="image1">
            </div>
            <div class="jewelry-details-image">
                <img class="jewelry-details-img zoom-image" src="{{ jewelry.second_image_url }}" alt="image1">
            </div>
{#        </div>#}
        {#        <div class="jewelry-details-desc-container">#}
        <div class="jewelry-details-composition">
            <h7 class="composition-category">{{ jewelry.category.get_title_display }}</h7>
            <h5 class="composition-title">{{ jewelry.title }}</h5>
            <ul role="list">
                <li>
                    {% if jewelry.jewelry_metals.count > 1 %}
                        {% for metal_info in jewelry.jewelry_metals.all %}
                            <span class="composition-item">
                                {% if metal_info.gold_carat %}
                                    <span>{{ metal_info.gold_carat.get_weight_display }} {{ metal_info.metal.get_title_display }}
                                        {% if not forloop.last %}, {% endif %}</span>
                                {% else %}
                                    <span>{{ metal_info.metal.get_title_display }}{% if not forloop.last %}
                                        , {% endif %}</span>
                                {% endif %}
                            </span>
                        {% endfor %}
                    {% else %}
                        <span class="composition-item">
                            <span>
                                {% for metal_info in jewelry.jewelry_metals.all %}
                                    {% if metal_info.gold_carat %}
                                        <span>{{ metal_info.gold_carat.get_weight_display }} {{ metal_info.metal.get_title_display }}</span>
                                    {% else %}
                                        <span>{{ metal_info.metal.get_title_display }}</span>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </span>
                    {% endif %}
                </li>
                <li>
                    {% if jewelry.jewelry_stones.count > 1 %}
                        {% for stone_info in jewelry.jewelry_stones.all %}
                            <span class="composition-item">
                                {% if stone_info.stone_carat %}
                                    <span>{{ stone_info.stone_color.get_title_display }} {{ stone_info.stone_type.get_title_display }} {{ stone_info.stone_carat }}ct.
                                        {% if not forloop.last %}, {% endif %}</span>
                                {% else %}
                                    <span>{{ stone_info.stone_color.get_title_display }} {{ stone_info.stone_type.get_title_display }}
                                        {% if not forloop.last %}, {% endif %}</span>
                                {% endif %}
                            </span>
                        {% endfor %}
                    {% else %}
                        <span class="composition-item">
                            <span>
                                {% for stone_info in jewelry.jewelry_stones.all %}
                                    {% if metal_info.gold_carat %}
                                        <span>{{ stone_info.stone_color.get_title_display }} {{ stone_info.stone_type.get_title_display }} {{ stone_info.stone_carat }}ct.</span>
                                    {% else %}
                                        <span>{{ stone_info.stone_color.get_title_display }} {{ stone_info.stone_type.get_title_display }}</span>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </span>
                    {% endif %}
                </li>
            <li class="composition-item-size">
                            <form method="POST"  >
                {% for field in form %}
                    <label for="{{ field.id_for_label }}">
                    <h3 class="materials">{{ field.label }}</h3>
                    <ul class="materials-details" role="list">
                        <li>{{ field }}</li>
                    </ul>
                    <button class="button hover filled_green" type="submit">ADD TO BAG</button>
                    {% csrf_token %}
                {% endfor %}
                </label>
            </form>
            </li>
            </ul>
        </div>
    </section>
    {% include 'jewelry/last-seen-jewelries.html' %}
{% endblock %}